.popover {
  max-width: 500px;
  width: auto;
}

/* select autocomplete */
.select-entity {
    min-width: 250px;
}
.form-control-select2 {
    height: 34px;
    line-height: 1.42857;
    padding: 0;
    margin: 0 12px 0 0;
    display: block;
}

/* flows */
.flows .panel-default > .panel-heading {
  border: 0 none;
  line-height: 24px;
  padding: 4px 10px;
  background: -moz-linear-gradient(top, #D9EDF7 0%, #B9DEF0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9EDF7), color-stop(100%,#B9DEF0));
  background: -webkit-linear-gradient(top, #D9EDF7 0%, #B9DEF0 100%);
  background: -o-linear-gradient(top, #D9EDF7 0%, #B9DEF0 100%);
  background: -ms-linear-gradient(top, #D9EDF7 0%, #B9DEF0 100%);
  background: linear-gradient(to bottom, #D9EDF7 0%, #B9DEF0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9EDF7', endColorstr='#B9DEF0',GradientType=0 );
}
.flows .panel {
  margin: 2px 0 0;
  border: 1px solid #D1E6F9;
  background-color: #F6FBFF;
}

.flows .panel.user {
  width: 90%;
  float: left;
}

.flows .panel.system {
  width: 90%;
  float: right;
}

.flows .panel-heading:hover, .flows .panel-toggle:hover {
  text-decoration: none;
}
.flows .panel-heading {
  cursor: pointer;
}

.flows .panel.user .panel-heading {
  text-align: left;
  background: #D9EDF7;
}

.flows .panel.system .panel-heading {
  text-align: right;
  border: 1px solid #D9EDF7;
  background: none;
}

.flows .panel-inner {
  padding: 0px;
}
.flows .tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
  font-weight: normal;
}
.flows .animate-repeat.ng-enter, .flows .animate-repeat.ng-leave, .flows .animate-repeat.ng-move {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
}
.flows .animate-repeat.ng-enter {
  opacity:0;
}
.flows .animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}
.flows .animate-repeat.ng-leave {
  opacity:1;
}
.flows .animate-repeat.ng-leave.ng-leave-active {
  opacity:0;
}
.flows .animate-repeat.ng-move { }
.flows .animate-repeat.ng-move.ng-move-active { }
.flows .communication {
  min-height: 60px;
}
.flows input.ng-invalid:focus {
  color: #B94A48 !important;
  border-color: #E9322D !important;
  box-shadow: 0 0 6px #F8B9B7 !important;
}
.flows .btn-group > .btn.active {
  z-index: 1;
}
.ui-datepicker.ui-widget {
  font-size: 0.9em;
}
.flows .ui-timepicker-div select {
  width: auto;
  height: 24px;
  line-height: 18px;
  padding: 1px 3px;
  margin: 0 0 0 5px;
}
.flows .char-counter {
  color: silver;
  font-size: 8pt;
}
.flows .small-mono {
  font-size: small;
}
.flows .popover{
  max-width: 50%;
}

/* tiny table */
table.table-lite input {
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  width: 100% !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  padding-left: 6px !important;
}
table.table-fields td.field {
  width: 40% !important;
}
table.table-fields td.field-ops {
  width: 20% !important;
}
table.table-lite td {
  margin: 0 !important;
  padding: 0 !important;
}

/* breadcrumbs */
.breadcrumb .dropdown {
  display: inline-block !important;
}
.breadcrumb a {
  text-decoration: none;
}
.modeller .dropdown li a i, .field .dropdown li a i {
  right: 10px;
  position: absolute;
  height: 100px;
  color: #E0E0E0;
}
.modeller .dropdown li a i:hover, .field .dropdown li a i:hover {
  color: #23527C;
}
.modeller .dropdown li a, .field .dropdown li a {
  font-size: 14px;
}
.field {
  background-color: #F6FBFF !important;
  list-style-type: none;
}

/* chats/ text runner */
.chat-container {
  position: relative;
}

.chat-messages {
  min-height: 380px;
  overflow-y: auto;
  max-height: 380px;
  font-family: Consolas;sans-serif;
}

.chat-container .form-group {
  position: relative;
  bottom: 0;
}
.chat-messages .chat-node {
  float: right;
}
.chat-messages .time {
  color: gray;
  font-size: 11px;
  text-align: right;
}
.chat-messages .chat-meta {
  padding: 5px 10px;
}
.chat-messages .msg {
  padding: 10px;
}
.chat-messages .system {
  background-color: #fff;
  font-size: 12px;
}
.chat-messages .user {
  background-color: #E4F1F9;
  font-size: 12px;
}
.chat-messages .system .msg {
  text-align: left;
}
.chat-messages .user .msg {
}
.chat-messages .error {
  color: red;
}
/* We make this z-index, cause we want code-mirror full screen to be on top */
#outer-center, #inner-center {
    z-index: 4 !important;
}
.toggle-dirty {
    cursor: pointer;
}
.CodeMirror-fullscreen.cm-s-tts, .CodeMirror-fullscreen.cm-s-script,
.CodeMirror.fullscreen.cm-s-field, .CodeMirror-fullscreen.cm-s-renderer {
    height: auto !important;
}
/* code mirror */
.cm-s-tts {
  height: 140px !important;
}
.cm-s-script {
  height: 200px !important;
}
.cm-s-field {
  height: 89px !important;
}
.cm-s-renderer {
  font-size: 12px;
}

/* node continuation */
.node-continue {
  float: left;
  margin-left: -15px !important;
  margin-right: 5px !important;
}
.test-user-block {
  margin-bottom: 5px;
}

/* upload support */

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 60px;
    text-align: center;
    margin-bottom: 15px;
}

audio {
  width: 100%;
}

.audio {
  margin-top: 10px;
  border-bottom:2px dotted #D4E1F9;
}
.audio-from-text, .audio-to-text {
  font-family: Consolas;sans-serif;
  text-align: center;
}
.audio-to-text {
  max-height: 90px !important;
}
.audio-meta, .audio-mapping, .audio-node {
  font-family: Consolas;sans-serif;
  font-size: 12px;
}

.audio-mapping {
  color: orange;
}

.audio-meta .label-danger {
  color: #fff !important;
}
.mapping {
  border-bottom: 1px dotted black;
}
.upload-btn {
  padding: 0px;
}
.locale {
  width: 70px;
  height: 28px;
  margin-top: 5px;
}

.drop-box.dragover {
    border: 5px dashed blue;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}

.pull-left {
  float: left;
}

/* visualization */
.diagram {
    width: 100%;
    height: auto;
    height: 550px;
    overflow-y: scroll;
}
.diagram-container {
    position: relative;
    min-height: 800px;
    padding: 20px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}
.diagram-container .footer {
    bottom: 0px;
    position: absolute;
}
.diagram-field {
    color: red;
}
.diagram-container .filler {
    position: relative;
    height: 100px;
    width: 90%;
}
/* links for external nodes to point instead of the move icon */
.diagram-container .icon-arrow-right {
    cursor: pointer;
}
.node {
    min-height: 30px;
    min-width: 80px;
    height: auto;
    width: auto;
    padding: 5px;
    display: inline-block;
    position: absolute;
    text-align: center;
    max-width: 700px;
    cursor: move;
    background: white;
    color: #fff;
    border: 0px;
}
.node.user {
    background: #073863;
    color: #D9EDF7;
}
.node.external-node {
    background: #419641;
    color: #fff;
}
.node.system {
    background: #D9EDF7;
    color: #073863;
}
.jsplumb-overlay {
    font-family: verdana, sans-serif !important;
    font-size: 10px !important;
    background-color: rgba(255,255,255,0.7) !important;
    padding: 2px !important;
    z-index: 999;
    max-width: 120px !important;
}
.demarcator {
    margin: 10px 15px 12px;
    border-width: 1.5px;
}

