.rt-tr {
  background: none !important;
  padding: 10px;
}

.rt-td {
  border: none !important;
}

.ReactTable {
  border: none;
}

.rt-thead {
  box-shadow: none !important;
}

.rt-th {
  border-right: none !important;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  font-weight: bold;
}

.rt-th:nth-child(1) {
  text-align: left;
}

.rt-th:nth-child(2) {
  text-align: right;
}

.search-bar {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.search-input > input {
  width: 50%;
}

.rt-noData {
  margin-top: 15px;
}
