<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <!-- Base Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>org.openmrs.module.callflows</package>
    <author>SolDevelo</author>
    <description>
        ${project.parent.description}
    </description>

    <activator>org.openmrs.module.callflows.CallflowsActivator</activator>

    <require_version>${openmrsPlatformVersion}</require_version>

    <require_modules>
        <require_module version="${eventVersion}">org.openmrs.event</require_module>
    </require_modules>

    <aware_of_modules>
        <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
        <aware_of_module version="${metadatasharingVersion}">org.openmrs.module.metadatasharing</aware_of_module>
    </aware_of_modules>

    <filter>
        <filter-name>CallFlow Module Authorization</filter-name>
        <filter-class>org.openmrs.module.callflows.filter.AuthorizationFilter</filter-class>
        <init-param>
            <param-name>ignored-urls</param-name>
            <param-value>
                /ws/callflows/in/{conf}/flows/{flowName}.{extension}
                /ws/callflows/calls/{callId}.{extension}
                /ws/callflows/out/{configName}/flows/{name}.{extension}
                /ws/callflows/calls/export-details
                /ws/callflows/status/*
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CallFlow Module Authorization</filter-name>
        <url-pattern>/ws/callflows/*</url-pattern>
    </filter-mapping>

    <privilege>
        <name>Callflows Privilege</name>
        <description>Allows user to access Callflows module</description>
    </privilege>

    <!-- Internationalization -->
    <!-- All message codes should start with @MODULE_ID@.* -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <!-- /Internationalization -->

</module>

