<div class="row">
    <h4 class="frame-title">{{msg('callflows.tab.renderers')}}</h4>
</div>

<div ng-repeat="message in messages" class="alert alert-success alert-block animate-repeat">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
</div>

<form name="form" class="form-horizontal inside" novalidate>
    <div class="row form-group">
        <div class="col-md-3">
            <div data-html="true" data-toggle="tooltip" data-placement="top" data-trigger="hover"
                 bs-popover="{{msg('callflows.field.rendererName.tooltip')}}">
                <input type="text" class="form-control" name="rendererName" ng-pattern="/^[a-zA-Z][a-zA-Z0-9]*$/" required
                       autocomplete="off"
                       ng-model="rendererName" ng-trim="true" ng-minlength="3" ng-maxlength="10" />
                <span class="form-hint form-hint-bottom" ng-show="form.rendererName.$dirty && form.rendererName.$error.required">{{msg('callflows.error.required')}}</span>
                <span class="form-hint form-hint-bottom" ng-show="form.rendererName.$error.pattern">{{msg('callflows.error.rendererPattern')}}</span>
                <span class="form-hint form-hint-bottom" ng-show="form.rendererName.$error.minlength">{{msg('callflows.error.rendererMinlength')}}</span>
                <span class="form-hint form-hint-bottom" ng-show="form.rendererName.$error.maxlength">{{msg('callflows.error.rendererMaxlength')}}</span>
            </div>
        </div>
        <div class="col-md-3">
            <button type="button" ng-disabled="form.rendererName.$invalid" class="btn btn-success"
                    ng-click="addRenderer(rendererName);"><i
                    class="fa fa-plus fa-inverse"></i>
                {{msg('callflows.btn.addRenderer')}}
            </button>
        </div>
    </div>

    <div class="row">
        <div class="inside">
            <ul class="nav nav-tabs">
                <li ng-repeat="renderer in settings.renderers"
                    ng-class="{'active' : currentRenderer.name === renderer.name}">
                    <a ng-click="setRenderer(renderer);">
                        {{renderer.name}}
                    </a>
                </li>
            </ul>
            <div ng-show="renderers.length">
                <div code-editor refresh="currentRenderer" ng-model="currentRenderer.template" fullscreen="true"
                     theme="renderer" syntax="javascript"></div>
                <div class="row margin-before2">
                    <div class="col-md-2">
                        <label class="control-label">{{msg('callflows.field.mime')}}</label>
                    </div>
                    <div class="col-md-4">
                        <div data-toggle="tooltip" data-placement="top" data-trigger="hover"
                             bs-popover="{{msg('callflows.field.mime.tooltip')}}">
                            <input type="text" class="form-control" ng-model="currentRenderer.mimeType "/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-danger" ng-disabled="!currentRenderer" ng-click="del(currentRenderer.name);"><i class="fa fa-lg fa-trash-o"></i> {{msg('callflows.btn.delete')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-before2 form-inline" ng-show="renderers.length">
        <button class="btn btn-default" ng-click="reset()">{{msg('callflows.btn.reset')}}</button>
        <button class="btn btn-primary"
                ng-click="save();">{{msg('callflows.btn.save')}}
        </button>
    </div>
</form>
